<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Spring Boot</title>
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
	<div class="container">
		<h1>Lista de Eventos</h1>

		<button class="btn btn-info">
			<a class="text-white espaco" href="/eventos">Listar Eventos</a>
		</button>

		<div th:each="evento: ${evento}">
			<div class="">
				<p>
					<span th:text="${evento.nome}"></span>
				</p>
				<p>
					<span th:text="${evento.local}"></span>
				</p>
				<p>
					<span th:text="${evento.data}"></span>
				</p>
				<p>
					<span th:text="${evento.horario}"></span>
				</p>
			</div>
		</div>

		<form method="post">
			<label>Nome </label><input type="text" value="" name="nomeConvidado" />
			<label>Rg </label><input type="text" value="" name="rg" />
			<button class="btn btn-info" type="submit">Salvar</button>
		</form>

		<h5>Lista de convidados</h5>
		<div class="" th:each="convidado : ${convidados}">
			<div class="row">
				<div class="col-6">
					<p>
						<span th:text="${convidado.nomeConvidado}"></span>
					</p>
				</div>
				<div class="col-3">
					<p>
						<span th:text="${convidado.rg}"></span>
					</p>
				</div>
			</div>
		</div>


	</div>


	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
</body>
</html>