<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8"></meta>
<title>Spring Boot</title>
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="bootstrap/css/meucss.css"></link>

</head>
<body>
	<th:block th:include="nav"></th:block>

	<div class="container top-all">
		<h2 class="fontSmall">Detalhes do Evento</h2>

		<div th:each="evento: ${evento}">

			<div class="text-center espacoDetalhe">
				<p>
					<label>Nome:</label> <span th:text="${evento.nome}"></span>
				</p>
				<p>
					<label>Local:</label> <span th:text="${evento.local}"></span>
				</p>
				<p>
					<label>Data:</label> <span th:text="${evento.data}"></span>
				</p>
				<p>
					<label>Horário:</label> <span th:text="${evento.horario}"></span>
				</p>
			</div>
		</div>

		<th:block th:include="mensagemValidacao"></th:block>

		<h4 class="fontSmall">Convidados</h4>
		<form class="espacoDetalhe" method="post" th:object="${convidado}">
			<div class="form-group">
				<label>Nome </label><input class="form-control" type="text" value=""
					name="nomeConvidado" />
			</div>
			<div class="form-group">
				<label>Rg</label><input class="form-control" type="text" value=""
					name="rg" />
			</div>
			<button class="btn btn-info" type="submit">Salvar</button>
		</form>

		<table class="table">
			<thead>
				<tr>
					<th>Nome Convidado</th>
					<th>RG</th>
					<th>Deletar</th>
				</tr>
			</thead>
			<tbody>
				<tr class="" th:each="convidado : ${convidados}">
					<td><span th:text="${convidado.nomeConvidado}"></span></td>
					<td><span th:text="${convidado.rg}"></span></td>
					<td><a class="btn btn-info"
						th:href="${(#mvc.url('EC#deletarConvidado').arg(0, convidado.rg)).build()}">Deletar</a></td>
				</tr>
			</tbody>
		</table>

	</div>


	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
</body>
</html>