<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8"></meta>
<title>EventosApp</title>
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="bootstrap/css/meucss.css"></link>
</head>
<body>

	<div class="container top-all">

		<h1 class="text-center fontHead">Cadastro de eventos</h1>
		<a class="text-white btn btn-info espaco" href="/eventos">Listar
			Eventos</a>
		<th:block th:include="mensagemValidacao"></th:block>

		<form method="post">

			<div class="form-group">
				<label>Nome </label> <input class="form-control" type="text"
					value="" name="nome" />
			</div>

			<div class="form-group">
				<label>Local </label> <input class="form-control" type="text"
					value="" name="local" />

			</div>
			<div class="row">
				<div class="form-group col-md-6">
					<label>Data </label> <input class="form-control" type="text"
						value="" name="data" />
				</div>
				<div class="form-group col-md-6">
					<label>Horario </label> <input class="form-control" type="text"
						value="" name="horario" />
				</div>
			</div>
			<button class="btn btn-info" type="submit">Salvar</button>

		</form>
	</div>
</body>
</html>