<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8"></meta>
<title>Spring Boot</title>
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="bootstrap/css/meucss.css"></link>

</head>

<body>
	<div class="text-center text-top">
		<div class="container">
			<h1 class="fontHead">App Eventos</h1>

			<p class="lead text-muted">
				Esta é uma aplicação que realiza o cadastramento de eventos.<br />
				Escolha a opção que desejar.
			</p>

			<a class="text-white btn btn-info my-2" href="/cadastrarEvento">Cadastrar
				Evento</a> <a class="text-white btn btn-secondary my-2" href="/eventos">Listar
				Eventos</a>

		</div>
	</div>

	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
</body>
</html>