<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8"></meta>
<title>Spring Boot</title>
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="bootstrap/css/meucss.css"></link>

</head>
<body>
<nav class="nav justify-content-center">
	<a class="nav-link my-2 active" href="/cadastrarEvento">Cadastrar
		Evento</a>
	<a class="nav-link my-2" href="/eventos">Listar
		Eventos</a>
</nav>
</body>
</html>